@define-color selected-text #ffffff;
@define-color text #d4b0b0;
@define-color base #241f31;
@define-color border #d4b0b0;
@define-color foreground #d4b0b0;
@define-color background #241f31;

window * {
    all: unset;
    color: @text;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 32px;
    min-width: 32px;
    min-height: 32px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
}

window .box-wrapper {
    background: alpha(@base, 0.85);
    border: 1px solid alpha(@border, 0.9);
    border-radius: 0px;
    padding: 6px;
    margin: 0;
    box-shadow: 0 2px 6px alpha(black, 0.25);
    backdrop-filter: none;
}

window .search-container {
    border: 2px solid alpha(@border, 0.9);
    border-radius: 0px;
    padding: 4px 6px;
    margin: 0;
    background: alpha(@base, 0.8);
    box-shadow: inset 0 0 4px alpha(white, 0.05);
    backdrop-filter: none;
}

window .input {
    background: transparent;
    color: @text;
    border-radius: 0px;
}
